@CHARSET "ISO-8859-1";


.voffset50{
	margin-top: 50px;
}

.login-container{
	width: 200px;
    vertical-align: middle;
    margin: auto;
    margin-top: 50px;
}

.table-container{
	vertical-align: middle;
}

/*input[type=text] {padding:5px; border:2px solid #ccc; 
-webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=text]:focus {border-color:#333; }

input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }*/
