@CHARSET "ISO-8859-1";

body {
	background-image: url(/FlowerDelivery/assets/bg2.jpg);
	background-size: cover;
}

h1, h2, h3, h4, span, td, p, body, ul{
    font-family: "Josefin Sans", "trebuchet ms", "sans-serif";
}

.voffset30 {
	margin-top: 30px;
}

.voffset50 {
	margin-top: 50px;
}

.voffset60 {
	margin-top: 60px;
}

.boffset10{
	margin-bottom:10px;
}

.boffset40{
	margin-bottom:40px;
}

.boffset50{
	margin-bottom:50px;
}

.invalid-input {
	color: red;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.navbar{
	margin-bottom: 40px;
}
.navbar-default .navbar-brand {
    color: rgba(0,0,0,0.9);
}

.navbar-icon{
	max-height: 30px;
	margin-top: -5px;
}

.navbar-brand{
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	margin-left: 0px;
	font-size: 15px;
}

.login-container {
	width: 200px;
	vertical-align: middle;
	margin: auto;
	margin-top: 50px;
}

.logo-container{
	text-align: left
}

.table-container {
	vertical-align: middle;
}

.start-container{
	display: table;
	width: 100%;
}

.start-text{
	display: table-cell;
	float: none;
	vertical-align: middle;
}

.flower-container{
	display: table-cell;
	float: none;	
}

.admin-container{
	display: inline-table;
	width:100%;
}

.booking-table {
	margin-top: 15px;
	background-color: transparent;
	border-color: transparent;
}

.booking-table .panel-heading .pull-right {
	margin-top: -20px;
}

.booking-table .booking-table-header {
	background-color: rgba(255, 255, 255, 0.6);
}

.booking-table .booking-table-header input[disabled] {
	background-color: transparent;
	border: none;
	cursor: auto;
	box-shadow: none;
	padding: 0;
	height: auto;
}

.booking-table .booking-table-header input[disabled]::-webkit-input-placeholder
	{
	color: #333;
}

.booking-table .booking-table-header input[disabled]::-moz-placeholder {
	color: #333;
}

.booking-table .booking-table-header input[disabled]:-ms-input-placeholder
	{
	color: #333;
}

.btn{
	font-size: 22px;
}

.input-editable {
	border-radius: 5px;
	border-image: none;
	border: none;
	padding: 3px;
	height: 100%;
}

.input-not-editable {
	pointer-events: none;
	background-color: transparent;
	border: none;
	height: 100%;
	overflow: hidden;
	resize: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

.rowColor-current {
	background-color: rgba(255, 255, 255, 0.4);
}

.rowColor-old {
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 0.5;
}

.custom-icon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	float: left;
	display: block;
}

.custom-icon.icon-person {
	background-image: url('/FlowerDelivery/assets/icons/person_64.png');
	background-size: cover;
}

.custom-icon.icon-lock {
	background-image: url('/FlowerDelivery/assets/icons/lock_64.png');
	background-size: cover;
}

.custom-icon.normal {
	width: 32px;
	height: 32px;
}

.custom-icon.small {
	width: 16px;
	height: 16px;
}

.custom-icon.medium {
	width: 64px;
	height: 64px;
}

.custom-icon.large {
	width: 128px;
	height: 128px;
}

.panel.panel-horizontal {
	display: table;
	width: 100%;
}

.panel.panel-horizontal>.panel-heading, .panel.panel-horizontal>.panel-body,
	.panel.panel-horizontal>.panel-footer, .panel.panel-horizontal>.panel-body-right
	{
	display: table-cell;
	cursor: pointer;
}

.panel.panel-horizontal>.panel-heading, .panel.panel-horizontal>.panel-footer
	{
	width: 25%;
	border: 0;
	vertical-align: middle;
}

.panel.panel-horizontal>.panel-body-right {
	width: 100%;
	border: 0;
	vertical-align: middle;
	padding-left: 20px;
}

.panel.panel-horizontal>.panel-heading {
	border-right: 1px solid #ddd;
	border-top-right-radius: 0;
	border-bottom-left-radius: 4px;
}

.panel.panel-horizontal>.panel-footer, .panel.panel-horizontal>.panel-body-right
	{
	border-left: 1px solid #ddd;
	border-top-left-radius: 0;
	border-bottom-right-radius: 4px;
}

.panel.panel-horizontal>.panel-body, .panel.panel-horizontal>.panel-heading,
	.panel.panel-horizontal>.panel-footer {
	padding: 5px;
	vertical-align: middle;
}

.panel.panel-default.panel-horizontal>.panel-heading>.panel-title {
	font-size: 18px;
	font-weight: bold;
}

.panel-fixed-length {
	min-width: 200px;
	max-width: 200px;
	overflow: hidden;
}

.panel.panel-default.panel-horizontal, .navbar-default {
	background-color: rgba(255, 255, 255, 0.4);
	border-color: rgba(255, 255, 255, 0.4);
}

.panel.panel-default {
	border-color: rgba(255, 255, 255, 0.4);
}

.panel.panel-default.panel-horizontal>.panel-heading {
	background-color: rgba(255, 255, 255, 0.4);
}

.panel-checked-flowers{
	width: 100%;
	height: 25px;
}

.btn, .btn-primary {
	background-color: rgba(255, 255, 255, 0.8);
	border-color: rgba(255, 255, 255, 0.8);
	color: rgba(0, 0, 0, 0.8);
}

.btn:hover, .btn-primary:hover {
	background-color: rgba(255, 255, 255, 0.3);
	border-color: rgba(255, 255, 255, 0.3);
	color: rgba(0, 0, 0, 0.8);
}

.input-submit-header-active {
	background-color: transparent;
	border: none;
	font-size: 30px;
}

.input-submit-header-inactive {
	background-color: transparent;
	border: none;
	font-size: 30px;
	opacity: 0.5;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#modal-description {
	font-size: 18px;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*input[type=text] {padding:5px; border:2px solid #ccc; 
-webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=text]:focus {border-color:#333; }

input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }*/